<section
  class="hero is-primary is-bold
     is-fullheight"
>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Team 31: Project Looking Mass - Detecting and Analyzing Gravitational
        Lensing
      </h1>
    </div>
  </div>
</section>
<section>
  <div class="tile is-ancestor" style="background-color: #003366;">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">What is Graviational Lensing?</p>
            <p class="subtitle">
              General relativity describes the effects of gravity as the
              curvature of spacetime. One of the consequences of the theory is
              that light can bend around mass, producing a lens-like effect --
              this is called gravitational lensing.
            </p>
          </article>

          <article class="tile is-child notification is-warning">
            <p class="title">What's it look like?</p>
            <p class="subtitle">
              This effect is significant and visible around massive objects,
              such as galaxies, clumps of dark matter, and black holes. The
              resulting image is often distorted, and sometimes a galaxy may
              form two or more images of itself.
            </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title">
              Lensing In Practice
              <br />
              <br />
              <br />

              <figure class="image is-4by3">
                <img
                  src="https://d2jmvrsizmvf4x.cloudfront.net/cCI9KfxT9CFVnr24OYgy_sdp81_2_E.jpg"
                />
              </figure>
            </p>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">Why Detect It?</p>
          <p class="subtitle">
            Detecting gravitational lensing helps to detect massive objects that
            may otherwise be undetectable, and the intensity of the lensing
            tells about the distribution and amount of mass. Studying
            gravitational lensing is a way to advance our knowledge of black
            holes and dark matter, both of which are hot topics in physics and
            cosmology.
          </p>
          <div class="content">
            <!-- Content -->
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">What's Our Goal?</p>
          <p class="subtitle">
            This team aims to create an app, Looking Mass, that is able to
            artificially simulate gravitational lensing in images using image
            processing. The app will have a user friendly interface that will be
            easy to navigate and include a tutorial for its features. <br />
            <br />
            As a secondary goal (if the above goals are met), the team would
            also like to add a component to Looking Mass that uses a
            convolutional neural network (CNN) that can be used to detect
            gravitational lensing in images. Such a tool may be useful for
            scientists and researchers as manual methods of detecting
            gravitational lensing can be time consuming.
            <br />
            <br />
            For more applications that attempt to accomplish something similar,
            and the various libraries we are using please check out the
            following links:
            <br />
            <br />
            <li>
              <a href="https://apps.apple.com/ca/app/gravlens3/id318275930"
                >GravLens3</a
              >
            </li>
            <li>
              <a href="https://glm.g-truc.net/0.9.9/index.html"
                >OpenGL Mathmatics</a
              >
            </li>
            <li><a href="https://opengl.org/">OpenGL</a></li>
          </p>
          <div class="content">
            <!-- Content -->
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<section>
  <br />
  <p class="title is-2 has-text-centered">About Us</p>
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/img/Aditya.jpg" alt="Aditya" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="assets/img/Aditya.jpg" alt="Aditya" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Aditya</p>
              <p class="subtitle is-6">
                <a href="https://github.com/Adityasidher">@Adityasidher</a>
              </p>
            </div>
          </div>

          <div class="content">
            Aditya is a student at the University of Nevada studying Computer
            Science and Engineering and Physics with a minor in Math. He has
            minor experience in photometry using images obtained by the Great
            Basin Observatory and hopes to apply his experience in image
            processing to Looking Mass.
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/img/cat_photo.jpg" alt="Ethan" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="assets/img/cat_photo.jpg" alt="Ethan" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Ethan</p>
              <p class="subtitle is-6">
                <a href="https://github.com/Asthonak">@Asthonak</a>
              </p>
            </div>
          </div>

          <div class="content">
            Ethan is a student at the University of Nevada, majoring in Computer
            Science and Engineering and minoring in Digital Interactive Games
            and Mathematics. He has made various games and applications for both
            desktop and mobile devices and hopes to apply his experience in
            human computer interaction to Looking Mass.

            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/img/marcus.png" alt="Marcus" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="assets/img/marcus.png" alt="Marcus" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Marcus</p>
              <p class="subtitle is-6"></p>
              <a href="https://github.com/MarcusCasey">@MarcusCasey</a>
            </div>
          </div>

          <div class="content">
            Computer Science & Engineering student graduating this spring
            working towards becoming a Full Stack Developer focusing on Angular,
            .netcore, SQL, and C#/C++. Experience in neural networks as well as
            implementing machine learning models. Currently learning how to
            build Python Computer Vision solutions.
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/img/nikitta.png" alt="Placeholder image" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="assets/img/nikitta.png" alt="Nikita" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Nikita</p>
              <p class="subtitle is-6">
                <a href="https://github.com/Fireparrot">@Fireparrot</a>
              </p>
            </div>
          </div>

          <div class="content">
            Nikita is a student at UNR studying Applied Mathematics, Computer
            Science and Engineering, and Physics, with a minor in Digital
            Interactive Games. They have won numerous math competitions, as well
            as a few coding competitions. Interests include artificial
            intelligence and developments in physics.

            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <br />
  <p class="title is-2 has-text-centered">Our Advisors</p>
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/img/SergiuDascalu.jpg" alt="Dave" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="assets/img/SergiuDascalu.jpg" alt="Dave" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Sergiu Dascalu</p>
              <p class="subtitle is-6">Advisor and Course Instructor</p>
            </div>
          </div>

          <div class="content">
            Sergiu is a Computer Science and Engineering professor at the
            University of Nevada. He has a PhD degree in Computer Science from
            Dalhousie University and a Master’s degree in Automatic Control and
            Computers from the Polytechnic of Bucharest, Romania. At UNR he is
            also the Director of the Software Engineering Laboratory and the
            Co-Director of the Cyberinfrastructure Lab.

            <br />
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/img/emily.jpg" alt="Emily" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="assets/img/emily.jpg" alt="Emily Hand" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Emily Hand</p>
              <p class="subtitle is-6">Supplemental Advisor</p>
            </div>
          </div>

          <div class="content">
            Emily Hand is an assistant professor in the Department of Computer
            Science and Engineering at the University of Nevada, Reno. Dr. Hand
            received her Ph.D. in computer science from the University of
            Maryland, College Park under the supervision of Professor Rama
            Chellappa. She has held research positions at NASA Ames, NASA JPL
            and the Naval Research Laboratory.
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="assets/img/P-MelodiRodrigue_28A4158(1).jpg"
              alt="Melodi
            Rodrigue"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img
                  src="assets/img/P-MelodiRodrigue_28A4158(1).jpg"
                  alt="Melodi Rodrigue"
                />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Melodi Rodrigue</p>
              <p class="subtitle is-6">Supplemental Advisor</p>
            </div>
          </div>

          <div class="content">
            Ph.D., Physics 1998 University of Nevada
            <br />
            M.S., Physics 1994 University of Nevada
            <br />B.S., Physics 1987 University of Nevada
            <br />
            <br />
            <b>Research Interests:</b>
            <br />
            <br />
            Science education K - 12, classroom technology, space mission
            research facilities, interacting galaxy research, Brown Dwarf and
            extra-solar planets
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/img/devrin.jpg" alt="devrin" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="assets/img/devrin.jpg" alt="devrin" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Devrin Lee</p>
              <p class="subtitle is-6">Course Instructor</p>
            </div>
          </div>

          <div class="content">
            Devrin Lee is a course instructor for Senior Projects. Bio pending.
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column"></div>
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/img/dave.jpg" alt="Dave" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="assets/img/dave.jpg" alt="Dave" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">David Feil-Seifer</p>
              <p class="subtitle is-6">Supplemental Advisor</p>
            </div>
          </div>

          <div class="content">
            David Feil-Seifer studied computer science for his undergraduate
            degree at the University of Rochester, M.S. and Ph.D. at the
            University of Southern California, and postdoctoral associate at
            Yale University. He received the Mellon Mentoring award in 2007. In
            2011, he was awarded a National Science Foundation Computing
            Innovation Fellowship, the USC Order of Areté. In 2012, he received
            the USC Engineering Best Dissertation Award. He is a member of IEEE
            and ACM.
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</section>

<section>
  <br />
  <br />

  <div class="content has-text-centered">
    <p class="title is-4">Project related resources:</p>
    <p class="title is-6">Problem domain book(s)</p>
    <li>
      Astrophysics in a Nutshell, by Dan Maoz 2nd Edition. ISBN:
      978-0-691-16479-3
    </li>
    <li>
      A General Relativity Workbook, by Thomas A. Moore, ISBN: 978-1-891389-82-5
    </li>
    <li>
      Digital Image Processing, by Rafael C. Gonzalez and Richard E. Woods 4th
      Edition, ISBN: 9780133356724 Géron, A. (n.d.).
    </li>
    <li>
      Hands-On Machine Learning with Scikit-Learn and TensorFlow: Concepts,
      Tools, and Techniques to Build Intelligent Systems.
    </li>
    <br />
    <p class="title is-6"><b>Related Websites:</b></p>
    <li><a href="https://www.cfa.harvard.edu/castles/">Harvard</a></li>
    <br />
    <p class="title is-6">
      <b>Technical reports, conference papers, and/or journal articles:</b>
    </p>
    <li>
      <a
        href="https://www.sciencedirect.com/science/article/pii/S0377042799001648#FIG5"
        >Science Direct</a
      >
    </li>
    <li>
      <a href="https://academic.oup.com/mnras/article/380/4/1729/1063840"
        >Academic OUP</a
      >
    </li>
    <li>
      <a
        href="https://go-gale-com.unr.idm.oclc.org/ps/i.do?p=HRCA&u=reno&id=GALE%7CA502510194&v=2.1&it=r&sid=summon"
        >go-gale-com</a
      >
    </li>
  </div>
</section>
